@model IContentViewModel<IContent>

@{
    Layout = "~/Features/Shared/Views/_MasterLayout.cshtml";
}

@section AdditionalStyles {
    @RenderSection("AdditionalStyles", required: false)
}

<div class="loading-box display-none">
    <div class="loader"></div>
</div>

@Html.RenderEPiServerQuickNavigator()

@{
    var foundationPageData = Model.CurrentContent as IFoundationContent;
}

@if (!foundationPageData?.HideSiteHeader ?? false)
{
    Html.RenderAction("GetHeader", "Header", new { homePage = Model.StartPage });
}
else
{
    Html.RenderAction("GetHeaderLogoOnly", "Header");
}

<div class="container">
    @RenderBody()
</div>

@if (!foundationPageData?.HideSiteFooter ?? false)
{
    @Html.Partial("_Footer", Html.GetLayoutSettings())
}

<script src="https://js.mollie.com/v1/mollie.js"></script>
<script src="~/Assets/js/main.min.js"></script>
<script src="~/Assets/js/mollie.checkout.js"></script>
<script src="~/Assets/js/mollie.apple.pay.js"></script>
<script src="~/Assets/js/mollie.apple.pay.direct.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script type="text/javascript">

    if (mollieData !== undefined && mollieData !== null) {
        var mc = new MollieCheckout(mollieData.ProfileId, mollieData.Locale, mollieData.Test);
        mc.initComponents();
    }

</script>


@RenderSection("AdditionalScripts", required: false)
@Html.RequiredClientResources("Footer")
@Html.RenderExtendedScripts(Model.CurrentContent)
@if (Model.CurrentContent is EntryContentBase)
{
    @Html.RenderExtendedScriptsForCommerce(Model.CurrentContent)
}
@Model.SchemaMarkup